<div class="title-bar">
    <div class="row">
    <!-- insert logo in left side-->
        <div class="logo-area col-sm-6">
        <!--add logo-->
            <img class="icon" ng-src="{{ iconFile }}" />
         <div class="title-area">
            <!-- pass through isolat scope -->
            <p class="logo-title"> {{ title }} </p>
            <p class="logo-subtitle">{{ subtitle}}</p>
        </div>
            <!-- button for mobile view -->
        <div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()" class="collapsed-menu pull-right">
            <button type="button" class="btn nav-button">
                <i class="fa fa-bars"></i>
            </button>
        </div>

    </div>


    <!-- right hand side controls -->
        <div class="right-side-controls col-sm-6">
            <div>
                <button class="btn btn-primary">Button 1</button>
                <button class="btn btn-success">Button 2</button>
                <button class="btn btn-warning">Button 3</button>
            </div>
        </div>
    </div>
</div>
<!--add the ng-transclude directive to show menu-->
<div ng-transclude></div>
<!--hold the of the routing-->  
<div ng-view class="view" ng-class="{'view-full-width': !isMenuVertical || !isMenuVisible}">
</div>