<!--transcluded into the cgMenu template-->
<li class="selectable-item" ng-click="clicked()" ng-class="{'item-horizontal': !isVertical()}">
    <div class="noselect">
        <i class="fa {{icon}} menu-icon"></i>
        {{ label }}
        <!-- add indicator to show menu can toggle and only display if vertical-->
        <i ng-if="isVertical()"
           class="fa fa-chevron-left group-indicator-left" ng-class="{'fa-rotate-270': isOpen}">
        </i>
    </div>
</li>
<!-- sub menu items display here -->
<div ng-show="isOpen" class="subItem-section">
    <ul ng-transclude></ul>
</div>